/* === pg 2 css === */


.review-page {
  background-color: #bca07b;
  
  
  /* Center everything */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}


.title {
  color: #4A3728; 
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  font-family: cursive;
}


.review-card {
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  text-align: center;
}

/* PRODUCT IMAGE */
.review-card img {
  width: 100%;
  max-height: 300px;
  object-fit: contain; /* Keeps image proportions */
  margin-bottom: 20px;
}


.review-card h2 {
  color: #1f1c1c;
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-family: monospace;
}


.price {
  color: #98633f; 
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 0;
}


.description {
  color: #666;
  font-size: 1rem;
  margin-bottom: 25px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.btn-submit {
  background-color: #935e38; 
  color: white;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  
  /* Pointer cursor on hover */
  cursor: pointer;
}


.btn-submit:hover {
  background-color: #f4e53d; 
}


.confirmation {
  background-color: white;
  border-radius: 20px;/* Rounded corners */
  padding: 40px;
  width: 50%;
  text-align: center;
  margin-top: 30px;
}

/* CONFIRMATION TEXT */
.confirmation h2 {
  color: #4A3728; 
  font-size: 1.8rem;
  font-family: cursive;
}